@model pr2.Models.Record
@{
    ViewData["Title"] = "Viewing Record";
}

<h2>Viewing record: @Model.id</h2>
<table>
	<tr>
		<td>
			<img src="/images/@Model.coverURL" height="200px" width="200px" />
		</td>
		<td>
		<ul>
			<li><b>Title:</b> @Model.title</li>
			<li><b>Artist:</b> @Model.artist</li>
			<li><b>Label:</b> @Model.label</li>
			<li><b>Released:</b> @Model.releaseDate</li>
			<li><b>Genre:</b> @Model.genre</li>
			<li><b>Style:</b> @Model.style</li>
			<li><b>Format:</b> @Model.format</li>
			<li><b>Country:</b> @Model.country</li>
			<li><b>Rating:</b> @Model.ratings</li>
			<li><b>TrackList:</b>
				<br/>
				<ul>
            @foreach (var item in Model.tracklist)
            {
            	<li>@item</li>
            }
		        </ul>
		    </li>

		</ul>
		</td>
		<td>
			<ul>
			<li><a href="/Record/Edit/@Model.id/"><button type="button" class="btn btn-primary">Edit</button></a></li>
			<br/>
			<li><button type="button" class="btn btn-danger">Delete</button></li>
			</ul>
		</td>
	</tr>
</table>